<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.plus.mapper.StaffMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mybatis.plus.bean.Staff">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="sex" property="sex" />
        <result column="tel" property="tel" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, sex, tel
    </sql>
    
    <delete id="deleteAll">
		DELETE FROM staff
	</delete>

	<select id="selectListByWrapper" resultType="com.mybatis.plus.bean.Staff">
		SELECT * FROM staff
		<!-- 判断 wrapper 是否为空 emptyOfWhere -->
		<where>
			${ew.sqlSegment}
		</where>
	</select>
	
	<select id="selectStaffById" parameterType="java.lang.Long" resultMap="BaseResultMap">
		SELECT 
    	<include refid="Base_Column_List" />
	    FROM staff
	    WHERE id = #{id,jdbcType=VARCHAR}
	</select>

</mapper>
